
/*
import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&display=swap');


font-family: 'Montagu Slab', serif;*/

html,body{
background-color:#f2f2f2;
color:black;
height:100%;
/*
align-items:center;
justify-content:center;
min-height:100vh;

position:relative;
*/
}

*{
margin:0;
padding:0;
outline:0;
box-sizing:border-box;
}
.newpostheader{
   display:flex;
   padding:5px 5px 5px 5px;
 /*  background-color:#91BAD6;*/
 background:#BCD2E8;
   width:100%;
   position:fixed;
   height:55px;
   border:1px solid blue;
   color: black;
   margin:0px 0 0 0px;
   z-index: 200;
   top:0;
   }
   
   .newpostheader p{
   font-weight:light;
   font-size:0.8em;
   margin:0 auto 0;
   font-family:"lato",sans-serif;
   }
   
  .newpostheader p a{
  color:blue;
  }
  
input[type=email],input[type=password],input[type=text]{
width:100%;
margin:5px 0 15px;
height:45px;
padding:8px;
box-sizing:border-box;
border-radius:4px;
border:1px solid #cecece;
font-size:1em;
justify-content:center;
text-align:left;
background-color:#f8f8f8;
outline:none;
font-family:'lato',sans-serif;
font-weight:light;
}

input[type=email]:hover,input[type=password]:hover{
border:1px solid black;
background-color: white;
}

label{
margin:-15px 0 0 10px ;
font-size:0.9em;
font-family:'poppins',sans-serif;
font-weight:bold;
letter-spacing:-0.4px;
position:absolute;

}
.submit{
width:118%;
margin:-5px 0 0 -20px;
height:45px;
padding:12px;
border-radius:4px;
border:1px solid #4267B2;
font-size:1.1em;
text-align:center;
background-color:#4267B2;
cursor:pointer;
font-family:'lato',sans-serif;
font-weight:bold;
color:white;
}


p{
color:black;
text-align:center;
margin:0px 0px 0px 20px;
}

h2{
font-variant:small-caps;
text-align:center;
color:white;
font-size:25pt;
font-family:"Handlee", cursive;
}

span{
color:black;
}

h5{text-align:center;
margin-top:1px;
font-size:20px;
color: black;
font-family:'lato',sans-serif;
font-weight:bold;
}

.forgetbox{
border:1px solid white;
margin:20px 0 0 0;
}

.forget {
color:blue;
font-weight:light;
align-items:center;
font-size:1em;
}

a{
text-decoration: none;
color: black;
font-family:'lato',sans-serif;
font-weight:light;
}


.error{
width:92%;
margin:-5px 0 0 10px;
color:#721624;
background-color:#f8d7da;
text-align:center;
border-radius: 5px;
font-size: "lato", sans-serif;
font-size: 0.9em;
border:1px solid #f5c6cb;
font-family:"lato",sans-serif;
font-weight:bold;
}
/*
.error p{
align-items:center;
margin:10px 0 0 0;
color:#721624;
text-align:center;
font-size: "lato", sans-serif;
font-size: 0.9em;
font-family:"lato",sans-serif;
font-weight:bold;
display:;
}
*/

.container{
top:50px; 
width:100%;
margin:0;
padding:0;
}

 .sub-container{
 margin:100px auto 0;
 width:100%;
 height:400px;
 max-width:600px;
 display:flex;
 box-shadow:0 0 12px #cecece;
 border:1px solid white;
 background-color:#fff;
 
 }
 
 
 
 .login-details {
 text-align:center;
 width:350px;
 height:100%;
 position:relative; 
 padding:40px 35px 0;
 border:1px solid white;
 margin:0 0 0 0;
 }
 .email-details {
 margin:-20px 0  0 -20px;
 border:1px solid white;
 width:118%;
 }
 .password-details {
 margin:-10px 0  0 -20px;
 border:1px solid white;
 width:118%;
 }
 
 .logobox{
 font-size:0.8em;
 font-weight:bold;
 color:black;
  border:1px solid white;
  width:50%;
  height:100%;
  font-family:"lato",sans-serif;
  position:relative;
  margin:0 0 0 0;
  }

  .sub-container .sub-logo{
  position:absolute;
  top:120px;
  }
 
  
 .sub-container .logoo{
 font-family:"ubuntu",sans-serif;
 font-size:2em;
 font-weight:bold;
 margin:0 0 0 70px;
 color:#4267B2;
 }
 
 .before{
 margin:20px 0 0 0px;
 border:1px solid white; 
 }
 
 .or{
 text-align:center;
 display:flex;
 color: black;
 margin:0 0 0 0;
 font-size:1.1rem;
 }
 
 p:before, p:after {
 border-bottom:1px solid #cecece;
 margin:auto;
 content:" ";
 width:100%;
 flex:3;
 }
 
 .createbut{
 border:1px solid white;
 background:green;
 padding:8px 8px;
 border-radius:4px;
 font-family:"poppins",sans-serif;
 margin:20px 0 0 0;
 }
 
 
 .createbut a{
 color:white;
 font-weight:bold;
 font-size:1.1em;
 }
 
 .lang{
 display:flex;
 }
 
 
 .languageb{
 right:10px;
 position:absolute;
 }
 
 .languagea {
 left:10px; 
 position:absolute;
 }
 
 .languagea span{
 font-weight:bold;
 color:grey;
 font-size:1.2em;
 }
 .languageb ul li{
 list-style-type :none; 
 font-size:1.2em;
 color:#4267B2;
 }
 
 .languagea ul li{
 list-style-type :none; 
 font-size:1.2em;
 color:#4267B2;
 }
 
 .abt{
 display:flex;
 margin:70px 0 0 70px;
 }
 
 .abt ul{
 display:flex;
 
 }
 
 .abt ul li{
 padding:10px 10px 10px 10px;
 list-style-type :none;
 color:grey;
 }
 
 .footer p{
 color:grey;
 font-family:"lato",sans-serif;
 font-size:0.8em;
 }
 
 .footer{
 background:white;
 color:black;
 font-family:"lato",sans-serif;
 font-size:0.8em;
 width:100%;
 height:100%;
 height:100vh;
 margin-top:70px;
 padding:0;
 }
 
 .footer p{
 color:grey;
 font-family:"lato",sans-serif;
 font-size:0.8em;
 }
 
 .inc{
 font-weight:bold;
 color:grey;
 font-size:1.2em;
 
 }
 
 @media screen and (max-width:480px){
 
 .container{
 border-top:1px solid #f2f2f2;
 height:450px;
 margin-top:40px;
 border:1px solid white;
 background:white;
 }
 .sub-container{
 flex-direction:column;
 max-width:480px;
 height:450px;
 margin-top:30px;
 box-shadow:none;
 }
 
 .logobox{
 width:100%;
 height:50px;
 }
  
  
  .sub-container .sub-logo{
  position:absolute;
  top:10px;
  }
 
 .logoo{
 width:100%;
 
 }
 
 
 .login-details {
 width:100%;
 padding:20px 35px 0;
 margin-top:-5px;
 }
 
 .email-details {
 margin:-30px 0  0 -20px;
 border:1px solid white;
 width:118%;
 }
 .password-details {
 margin:-15px 0  0 -20px;
 border:1px solid white;
 width:118%;
 }
 
 
 .footer{
 background:white;
 color:black;
 font-family:"lato",sans-serif;
 font-size:0.8em;
 width:100%;
 height:100px;
 margin-top:0;
 padding:0;
 }
 
 
 }
